<section class="py-4" id="task">
  <h1 class="mb-4">Daily goals</h1>
  <form action="" method="post" class="d-flex flex-column">
    <div>
      <label for="">
        <p>3 sets of pushup</p>
      </label>
      <input type="checkbox" name="" id="chkbx">
    </div>
    <div>
      <label for="">
        <p>2 sets of bench press</p>
      </label>
      <input type="checkbox" name="" id="chkbx"></div>
    <div>
      <label for="">
        <p>3 minutes of planks</p>
      </label>
      <input type="checkbox" name="" id="chkbx"></div>
  </form>
</section>
