<section id="dashboard">
  <div id="container"  class="d-flex justify-content-between">
    <div>
      <h1>Tracker</h1>

    </div>
    <div class="btn-group">
      <button class="btn btn-secondary btn-sm" type="button">
        Small split button
      </button>
      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li>Weekly</li>
        <li>Daily</li>
      </ul>
    </div>
  </div>
  <div id="guageContainer" class="d-flex justify-content-center">
    <div id="guageMeter" class="d-flex justify-content-center align-items-center">
      <h2>75%</h2>
    </div>
  </div>
</section>
